#main {
    display: flex;
}

#main-doc {
    order: 1;
    width: 80%;
    padding-left: 3em;
}

#hw-header  {
    border-top: none;
    margin-top: 0;
    padding-top: 0;
}

#react-doc-title {
    border-top: none;
}

.nav-container {
    flex-direction: column;
    background-color: #f7f7f7;
    border-left: 1px solid #ececec;
    order: 2;
}

.prettyprint {
    background: #282c34;
}

li.L0, li.L1, li.L2, li.L3, li.L4, li.L5, li.L6, li.L7, li.L8, li.L9 {
    background:  #282c34;
}

h1 {
    padding-left: 0.4em;
    padding-top: 1em;
    border-top: 1px solid #ececec;
}

img {
    padding-left: 3em;
}

@media screen and (min-width: 0px) and (max-width: 580px) {
    #main-doc  {
         width: 100%;
    }

    .code {
        width: 100%;
        margin-right: 0;
        margin-left: 0;
    }

    .code pre {
        border-radius: 0;
    }
}
