body {
  font-size: 100%;
  margin: 0;
  padding: 0;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
  font-size: 1em;
  line-height: 1.25;
}

body, caption, th, td, input, textarea, select, option, legend, fieldset, h1, h2, h3, h4, h5, h6 {
  font-size-adjust: 0.5;
}

h1, h2, h3, h4 {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
}

h1 {
  font-size: 2em;
  line-height: 1.25;
}

h2 {
  font-size: 1.625em;
  line-height: 1.15384615;
}

h3 {
  font-size: 1.375em;
  line-height: 1.13636364;
}

h4 {
  font-size: 1.125em;
  line-height: 1.11111111;
}

blockquote {
  font-size: 1.25em;
  line-height: 1.25;
}

img, embed, object, video {
  max-width: 100%;
}

@media (min-width: 43.75em) {
  body {
      font-size: 1em;
      line-height: 1.375;
  }

  h1 {
      font-size: 2.5em;
      line-height: 1.125;
  }

  h2 {
      font-size: 2em;
      line-height: 1.25;
  }    

  h3 {
      font-size: 1.5em;
      line-height: 1.25;
  }

  h4 {
      line-height: 1.22222222;
  }

  blockquote {
      font-size: 1.5em;
      line-height: 1.45833333;
  }
}

@media (min-width: 56.25em) {
  h1 {
      font-size: 3em;
      line-height: 1.05;
  }

  h2 {
      font-size: 2.25em;
      line-height: 1.25;
  }

  h3 {
    font-size: 1.75em;
    line-height: 1.25;
  }    
}