#navbar {
    display: flex;
    flex-direction: column;

    min-width: 350px;

    background-color: #f7f7f7;
    border-left: 1px solid #ececec;
    padding-right: 3.5em;

    font-weight: 400;
    position: fixed;
    top: 0;
    height: 100vh;
}

#navbar ul {
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
}


#navbar ul li {
    margin-top: 5px;
}

#navbar h4 {
    border-top: none;
    line-height: 1.2;
    padding-left: 2em;
    margin-bottom: 0.1em;
    font-size: 14px;
    font-weight: 700;
    line-height: 3;
    text-transform: uppercase;
    letter-spacing: 0.08em;
}

@media screen and (min-width: 0px) and (max-width: 580px) {
    #navbar  {
         display: none;
    }
}

