#navbar {
    display: flex;
    flex-direction: column;
    order: 2;
    
    min-width: 250px;

    background-color: #f7f7f7;
    border-left: 1px solid #ececec;
    padding-right: 3.5em;

    font-weight: 400;
}

#navbar ul {
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
}


#navbar ul li {
    margin-top: 5px;
}

#navbar h4 {
    border-top: none;
    line-height: 1.2;
}

@media screen and (min-width: 0px) and (max-width: 580px) {
    #navbar  {
         display: none; 
    } 
}

