.tip {
    background-color: rgba(255,229,100,0.3);
    border-left-color: #ffe564;
    border-left-width: 9px;
    border-left-style: solid;
    padding: 20px 45px 20px 26px;
    margin-bottom: 30px;
    margin-top: 20px;
}

.tip h4 {
    padding: 0em 0em 0em 1.5em;
    margin: 0;
}

.tip p{
 margin-top: 0;
}
